- name: Updating the {{ COMPONENT }} DNS in systemd file
  ansible.builtin.replace:
    path: /etc/systemd/system/{{COMPONENT}}.service
    regexp: 'MONGO_DNSNAME'
    replace: 'mongodb.robotshop.internal'

- name: Restart service {{ COMPONENT }}
  ansible.builtin.service:
    name: "{{COMPONENT}}"
    state: restarted
    daemon-reload: yes
